@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@keyframes blink {
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}

@font-face {
    src: url('./larabiefont-rg.ttf');
    font-family: 'LarabieFont';
}

body {
    --back: #222;
    --screenBack: rgba(0, 0, 0, 0.0);
    --screenFront: rgba(255, 255, 255, 0.05);
    --font: 'LarabieFont', 'Courier New', monospace;

    background: var(--back);
}

.app {
    position: relative;
    min-height: 100vh;
    font-family: var(--font);
}

.app--grey,
.app--gray {
    --inputDescription: #eee;
    --inputCommand: #aaa;
}

.app--turquoise {
    --inputDescription: #47fff7;
    --inputCommand: #ddfffe;
}

.app--green {
    --inputDescription: #5bff47;
    --inputCommand: #ddffe3;
}

.app--red {
    --inputDescription: #ff4747;
    --inputCommand: #ffa2a2;
}

.app--blue {
    --inputDescription: #47a2ff;
    --inputCommand: #dddeff;
}

.screen {
    white-space: pre-wrap;
    font-family: var(--font);
    position: relative;
    padding: 1em 1em 0 1em;
    z-index: 1;
}

.app:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(var(--screenBack) 0px, var(--screenBack) 5px, var(--screenFront) 6px, var(--screenFront) 10px);
    z-index: 2;
}

.app:after {
    content: "";
    position: fixed;
    top: 5%;
    left: 5%;
    border-radius: 40%;
    width: 90%;
    height: 90%;
    background: radial-gradient(var(--screenFront) 0%, var(--back) 50%);
}

.screen:empty {
    padding-top: 0;
}

.input-wrapper {
    position: relative;
    padding: 0 1em;
    z-index: 1;
}

.input__prefix {
    color: var(--inputCommand);
}

.input {
    position: relative;
    display: inline-block;
    font-size: 1em;
    width: calc(100% - 2em);
    padding: 0;
    margin-left: 1em;
    background: transparent;
    outline: none;
    border: none;
    color: var(--inputCommand);
    font-family: var(--font);
}

.screen__line {
    margin: 0.4em 0;
    font-family: var(--font);
    z-index: 1;
}

.line__source {
    margin-right: 1em;
}

.line__value {

}

.screen__line--description {
    color: var(--inputDescription);
}

.screen__line--command {
    color: var(--inputCommand);
}